<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Movie Review | About</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		

		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="index.html" id="branding">
						<img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">CineMate</h1>
							<small class="site-description">Where every mood finds it's match!</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item current-menu-item"><a href="about.html">About</a></li>
							<li class="menu-item"><a href="review.html">Mood</a></li>
							<li class="menu-item"><a href="joinus.html">Join us</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
							<li class="menu-item"><a href="anime-main/login.html">Login</a></li>
						</ul> <!-- .menu -->

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="index.html">Home</a>
							<span>About us</span>
						</div>

						<div class="row">
							<div class="col-md-4">
								<figure><img src="https://pics.craiyon.com/2023-05-23/e0b9ae10d4374837811f26876fedc0bb.webp" alt="figure image"></figure>
							</div>
							<div class="col-md-8">
								<p class="leading">Enjoy your journey with us!</p>
								<p>We embark on a cinematic adventure tailored just for you. Dive into a world of endless possibilities where every movie recommendation is crafted to ignite your imagination and captivate your senses. Whether you're seeking thrilling blockbusters, heartwarming classics, or hidden gems waiting to be discovered, our platform is your ultimate companion. </p>
								<p>Sit back, relax, and let us guide you through the vast landscape of cinema, enriching your viewing experience one recommendation at a time. Join our vibrant community of movie lovers, share your passion, and together, let's explore the magic of storytelling through the lens of film. Your journey starts here, with us.</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-9">
								<h2 class="section-title">Vision &amp; Mission</h2>
								<p>To revolutionize the entertainment experience by delivering personalized movie recommendations that inspire, engage, and enrich the lives of our users. We envision a world where every movie lover can effortlessly discover their next favorite film, fostering a global community bound by a shared passion for cinema. </p>

								<p>Our mission is to provide personalized movie recommendations that empower users to discover and enjoy films tailored to their tastes. We strive for inclusivity, innovation, and community engagement, aiming to revolutionize the entertainment experience.</p>
							</div>
							<div class="col-md-3">
								<h2 class="section-title">Useful Links</h2>
								<ul class="arrow">
									<li><a href="https://www.imdb.com/">IMDb</a></li> 
									<li><a href="https://medium.com/">Medium Digest</a></li>
									<li><a href="https://www.magzter.com/">Magzter</a></li> 
									<li><a href="https://www.zinio.com/">Zinio</a></li> 
									<li><a href="https://crazy-movie-updates.company.site/">CrazyMovieUpdates</a></li>
									<li><a href="https://flickside.com/">FlickSide</a></li> 
									<li><a href="https://www.joblo.com/">JoBlo</a></li>
								</ul>
							</div>
						</div> <!-- .row -->
						
						<h2 class="section-title">Our Team</h2>
						<div class="row">

							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="{{ url_for('static', filename='dummy/person-1.jpeg') }}" alt=""></figure>
									<h2 class="team-name">Hayyan Hajwani</h2>
									<small class="team-title">Co-founder</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="{{ url_for('static', filename='dummy/person-4.jpeg') }}" alt=""></figure>
									<h2 class="team-name">Arya Raut</h2>
									<small class="team-title">Managing Director</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="{{ url_for('static', filename='dummy/person-2.jpeg') }}" alt=""></figure>
									<h2 class="team-name">Ali Ajani</h2>
									<small class="team-title">Reviewer</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="{{ url_for('static', filename='dummy/person-3.jpeg') }}" alt=""></figure>
									<h2 class="team-name">Aman Singh</h2>
									<small class="team-title">Consultant</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Our platform uses cutting-edge technology to deliver personalized recommendations tailored to your tastes.</p>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Recent Review</h3>
								<ul class="no-bullet">
									<li><a href="#">Amazing</a></li>
									<li><a href="#">Efficient</a></li>
									<li><a href="#">Fast and smooth</a></li>
									<li><a href="#">Relevant</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Help Center</h3>
								<ul class="no-bullet">
									<li><a href="#">Mumbai</a></li>
									<li><a href="#">Delhi</a></li>
									<li><a href="#">Chennai</a></li>
									<li><a href="#">Kolkata</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Join Us</h3>
								<ul class="no-bullet">
									<li><a href="#">Email</a></li>
									<li><a href="#">Request Letter</a></li>
									<li><a href="#">Club</a></li>
									<li><a href="#">Community</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Social Media</h3>
								<ul class="no-bullet">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Instagram</a></li>
									<li><a href="#">Pinterest</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div> <!-- .row -->

					<div class="colophon">Copyright 2014 CineMate. All rights reserved</div>
				</div> <!-- .container -->

			</footer>
		</div>
		<!-- Default snippet for navigation -->
		


		<script src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='plugins.js') }}"></script>
		<script src="{{ url_for('static', filename='app.js') }}"></script>
		
	</body>

</html>